---
layout: default
team:
  user:
    name: 'Kevin'
    twitter: 'https://twitter.com/verpixelt'
  user:
    name: Max
---
<section>
  <h1>About</h1>
  <p>CSSclasses is for beginners and experts alike: Using CSS as a simple and low-barrier entry language, we empower people to understand their browser and to learn how to experiment with code. Workshop and hackathon in one event.</p>
  <h2>Team</h2>
  <div class="flex-row">
    {% include user.html %}
  </div>
  <h2>Coaches</h2>
  <div class="flex-row">
    {% include user.html %}
  </div>
</section>
