<div class="testimonial">
  <blockquote class="m-blockquote">
    <p class="m-blockquote__p">Thank you all sooooo much for putting on the workshop! It was awesome!</p>
    <footer class="m-blockquote__footer">@verpixelt</footer>
  </blockquote>
  <blockquote class="m-blockquote">
    <p class="m-blockquote__p">It's a good environment to get some work done and meet nice people.</p>
    <footer class="m-blockquote__footer">@schneiderkristina</footer>
  </blockquote>
  <blockquote class="m-blockquote">
    <p class="m-blockquote__p">Thank you all sooooo much for putting on the workshop! It was awesome!</p>
    <footer class="m-blockquote__footer">@verpixelt</footer>
  </blockquote>
</div>