

blockquote,
.m-blockquote {
  border: .1875rem solid $color-persian-red;
  display: inline-block; //TODO: ADD A FIX FOR INLINE-BLOCK WHITE SPACE ISSUE
  font-family: Lato Regular;
  height: 16rem;
  margin: 0 0 3.5 * $base-unit;
  position: relative;
  width: 14rem;

  &:before {
    color: $color-dove-gray;
    content: "“";
    font-size: 8em;
    left: $base-unit;
    line-height: .76;
    position: absolute;
    top: $base-unit;
  }

  &:not(:last-child) { margin-right: 8.75rem; }  //140px
}

.m-blockquote__p {
  @extend .delta;
  background-color: $color-white;
  bottom: $base-unit;
  left: 1.5 * $base-unit;
  margin-bottom: 0;
  position: absolute;
  width: 20rem;
}

.m-blockquote__footer {
  @extend .small;
  bottom: -1.5 * $base-unit;
  color: $color-dove-gray;
  position: absolute;
  right: 0;
}