
hr {
  margin-bottom: 2 * $base-unit;
  border: none;
  height: 2px;
  background-color: $color-dove-gray;
}

.hr--is-red { background-color: $color-persian-red; }

.hr--has-ornament { position: relative;

  &:before {
    background-color: $color-white;
    content: url(../assets/svg/m-separator__ornament.svg);
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: -.75rem;
    width: 2.25rem;
  }
}