

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3 * $base-unit;
  padding-bottom: 3 * $base-unit;

  @include bp(x) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 6 * $base-unit;
    padding-bottom: 6 * $base-unit;
  }
}