

$color-white: #fdfdfd;
$color-mine-shaft: #222;
$color-silver-chalice: #A7A7A7; //SLIGTLY LIGHTER DOVE GRAY
$color-dove-gray: #6f6f6f;
$color-persian-red: #d33131;
$color-tall-poppy: #b72c2c; //SLIGHTLY DARKER PERSIAN RED

$base-unit: 1.125rem; //18px
