

@import "normalize";
@import "variables";
@import "breakpoints";
@import "typography";

@import "modules/m-figure";
@import "modules/m-blockquote";
@import "modules/m-separator";
@import "modules/m-code-block";

* { box-sizing: border-box;

  &:before,
  &:after { box-sizing: inherit; }
}

h1,
h2,
h3,
h4,
ul,
ol,
dd,
p,
pre,
table,
fieldset,
hr { margin-top: 0; }

article {
  max-width: 36em;
  margin: 4 * $base-unit auto;
}